<div class="tabbar">
    <ul>
        <li>
            <a href="">
                <img src="images/tabbar/home_icon.png" alt="">
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/tabbar/home_icon.png" alt="">
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/tabbar/home_icon.png" alt="">
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="images/tabbar/home_icon.png" alt="">
                <p>首页</p>
            </a>
        </li>
    </ul>
</div>