.nav{
  width: 100%;
  .h(64);
  color: #ffffff;
  background-color: lightseagreen;
  position: relative;
  h3{
    .fs(30);
    .lh(64);
    text-align: center;
    font-weight: normal;
  }
  span{
    position: absolute;
    left: 0;
    top: 0;
    .fs(25)
    .lh(64);
    .ml(10)
  }
}